<div class="burger-menu" id="burgerMenu">
    <div class="burger-menu__container">

        <div class="burger-menu__header">

            <a href="./index.html" class="burger-menu__logo" aria-label="Головна сторінка Хатинка Лапок">

                <div class="burger-menu__logo-text">
<!--    logo -->
                </div>
            </a>

            <button type="button" class="burger-menu__close-btn" id="closeMenuBtn" aria-label="Закрити меню">
                <span>Закрити</span> </button>
        </div>

        <nav class="burger-menu__nav">
            <ul class="burger-menu__list">
                <li class="burger-menu__item">
                    <a href="#" class="burger-menu__link">Знайти друга</a>
                </li>
                <li class="burger-menu__item">
                    <a href="#" class="burger-menu__link">Про нас</a>
                </li>
                <li class="burger-menu__item">
                    <a href="#" class="burger-menu__link">Часті запитання</a>
                </li>
                <li class="burger-menu__item">
                    <a href="#" class="burger-menu__link">Історії успіху</a>
                </li>
            </ul>
        </nav>

        <div class="burger-menu__footer">
            <a href="#" class="burger-menu__btn">Взяти друга</a>
        </div>

    </div>
</div>