<div class="burger-menu" id="burgerMenu">
    <div class="burger-menu__container">

        <div class="burger-menu__header">

            <a href="./index.html" class="logo header__logo" aria-label="Хатинка Лапок — на головну">
                <img src="./img/logo-icons.svg" alt="Логотип Лапка" class="logo__icon" />
                <img src="./img/logo-text.svg" alt="Хатинка Лапок" class="logo__text" />
            </a>
            <button type="button" class="burger-menu__close-btn" id="closeMenuBtn" aria-label="Закрити меню">
                <svg class="burger-menu__close-icon" width="32" height="32" viewBox="0 0 32 32" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 8L8 24M8 8L24 24" stroke="currentColor" stroke-width="2.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>

        </div>

        <nav class="burger-menu__nav">
            <ul class="burger-menu__list">
                <li class="burger-menu__item">
                    <a href="#search" class="burger-menu__link">Знайти друга</a>
                </li>
                <li class="burger-menu__item">
                    <a href="#about" class="burger-menu__link">Про нас</a>
                </li>
                <li class="burger-menu__item">
                    <a href="#faq" class="burger-menu__link">Часті питання</a>
                </li>
                <li class="burger-menu__item">
                    <a href="#happy-stories" class="burger-menu__link">Історії успіху</a>
                </li>
            </ul>
        </nav>

        <div class="burger-menu__footer">
            <a href="#adopt" class="burger-menu__btn">Взяти друга</a>
        </div>

    </div>
</div>

