<section class="section" id="happy-stories">
  <div class="happy-stories__container container">
    <h2 class="title">Щасливі історії, що надихають</h2>
    <p class="happy-stories__text">
      Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
    </p>

    <ul class="happy-stories__list">
      <li class="happy-stories__list-item">
        <div>stars</div>
        <p>
          Ми довго вагалися, чи готові до собаки, але коли побачили на сайті
          Хатинки фото Арчі, зрозуміли — це наш. Тепер ми не уявляємо ранків без
          його веселого гавкоту та вечорів без спільних прогулянок. Він приніс у
          наш дім стільки сміху та любові! Дякуємо „Хатинці лапок“ за нашого
          найкращого друга.
        </p>
        <p>Submarine and Sergay</p>
      </li>
    </ul>
    <div>
      <div>dotes</div>
      <div>
        <button>left arrow (svg)</button>
        <button>right arrow (svg)</button>
      </div>
    </div>
  </div>
</section>
