<header class="header">
  <div class="container header__container">
    <a
      href="./index.html"
      class="header__logo logo"
      aria-label="Головна сторінка Хатинка Лапок"
    >
      <img
        class="logo__icon"
        src="./img/logo-icons.svg"
        alt="Іконка лапки"
        width="34"
        height="32"
      />

      <img
        class="logo__text-vector"
        src="./img/logo-text.svg"
        alt="Текст Хатинка Лапок"
        width="97"
        height="37"
      />
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#search" class="nav__link">Знайди друга</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">Про нас</a>
        </li>
        <li class="nav__item">
          <a href="#faq" class="nav__link">Часті запитання</a>
        </li>
        <li class="nav__item">
          <a href="#happy-stories" class="nav__link">Історії успіху</a>
        </li>
      </ul>
    </nav>

    <!-- Кнопка действия (для Десктопа) -->
    <a href="#search" class="header__btn btn btn-primary"> Взяти друга </a>

    <!-- Кнопка бургер-меню (для мобилки/планшета) -->
    <button
      id="menu-open"
      type="button"
      class="burger-btn js-open-menu"
      aria-label="Open menu"
    >
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </button>
  </div>
</header>
