<section class="hero">
  <!-- <img
    src="./img/hero-img1x.webp"
    srcset="./img/hero-img1x.webp 1x, ./img/hero-img2x.webp 2x"
    alt="Котик та собачка"
    class="hero__img"
    loading="eager"
    fetchpriority="high"
    decoding="async"
  /> -->

  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Кожне життя має значення. Знайди свого вірного друга
      </h1>
      <p class="hero__text">
        Сотні котиків та собачок у притулку Хатинка Лапок чекають на свою
        родину. Подаруйте їм дім.
      </p>
      <a href="#happy-stories" class="btn btn-primary hero__btn">
        Подивитись історії
      </a>
    </div>
  </div>
</section>
