<section class="hero">
  <div class="container hero__container">
    <!-- Весь блок с надписями и кнопкой -->
    <div class="hero__content">
      <h1 class="hero__title">
        Кожне життя має значення. Знайди свого вірного друга
      </h1>
      <p class="hero__text">
        Сотні котиків та собачок у притулку Хатинка Лапок чекають на свою
        родину. Подаруйте їм дім.
      </p>
      <!-- Наша глобальная кнопка (сразу подключаем к ней классы из styles.css) -->
      <button type="button" class="btn btn-primary hero__btn">
        Поділитись історією
      </button>
    </div>
  </div>
</section>
