<section class="paws-house-section">
  <div class="paws-house-container container">
    <h2 class="paws-house-title">Чому Хатинка Лапок</h2>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="paws-house-card">
            <picture class="explore__picture">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../images/normal/paws-house-main.webp 1x,
                  ../images/retina/paws-house-main.webp 2x
                "
                type="image/webp"
                width="1312"
                height="753"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../images/normal/paws-house-main.webp 1x,
                  ../images/retina/paws-house-main.webp 2x
                "
                type="image/webp"
                width="704"
                height="404"
              />
              <img
                loading="lazy"
                src="../images/normal/paws-house-main.webp"
                srcset="
                  ../images/normal/paws-house-main.webp 1x,
                  ../images/retina/paws-house-main.webp 2x
                "
                alt="Дівчинка допомагає собаці"
                class="paws-house-img"
                width="335"
                height="402"
              />
            </picture>
            <div class="paws-house-content">
              <p class="paws-house-text">
                Все почалося у 2015 році з кількох небайдужих людей та одного
                врятованого собаки. Сьогодні ми — один з найбільших притулків у
                регіоні, але наша мета незмінна: дати другий шанс тим, кого
                зрадили.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="paws-house-card">
            <picture class="explore__picture">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../images/normal/paws-house-main_2.webp 1x,
                  ../images/retina/paws-house-main_2.webp 2x
                "
                type="image/webp"
                width="1312"
                height="753"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../images/normal/paws-house-main_2.webp 1x,
                  ../images/retina/paws-house-main_2.webp 2x
                "
                type="image/webp"
                width="704"
                height="404"
              />
              <img
                loading="lazy"
                src="../images/normal/paws-house-main_cropped.webp"
                srcset="
                  ../images/normal/paws-house-main_cropped.webp 1x,
                  ../images/retina/paws-house-main_cropped.webp 2x
                "
                alt="Дівчинка годує цуценя"
                class="paws-house-img"
                width="335"
                height="402"
              />
            </picture>
            <div class="paws-house-content">
              <p class="paws-house-text">
                Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
                безпритульних тварин. Наша мета — не просто дати прихисток, а й
                забезпечити кожному "хвостику" щасливе та повноцінне життя в
                новій родині.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="paws-house-card">
            <picture class="explore__picture">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../images/normal/paws-house-main_3.webp 1x,
                  ../images/retina/paws-house-main_3.webp 2x
                "
                type="image/webp"
                width="1312"
                height="753"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../images/normal/paws-house-main_3.webp 1x,
                  ../images/retina/paws-house-main_3.webp 2x
                "
                type="image/webp"
                width="704"
                height="404"
              />
              <img
                loading="lazy"
                src="../images/normal/paws-house-main_3.webp"
                srcset="
                  ../images/normal/paws-house-main_3.webp 1x,
                  ../images/retina/paws-house-main_3.webp 2x
                "
                alt="Волонтери притулку"
                class="paws-house-img"
                width="335"
                height="402"
              />
            </picture>
            <div class="paws-house-content">
              <p class="paws-house-text">
                "Хатинка Лапок" — це команда професійних ветеринарів, кінологів
                та десятків волонтерів, які щодня вкладають свою душу та час у
                турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя
                залежить від нас.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="paws-house-card">
            <picture class="explore__picture">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../images/normal/paws-house-main_4.webp 1x,
                  ../images/retina/paws-house-main_4.webp 2x
                "
                type="image/webp"
                width="1312"
                height="753"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../images/normal/paws-house-main_4.webp 1x,
                  ../images/retina/paws-house-main_4.webp 2x
                "
                type="image/webp"
                width="704"
                height="404"
              />
              <img
                loading="lazy"
                src="../images/normal/paws-house-main_4.webp"
                srcset="
                  ../images/normal/paws-house-main_4.webp 1x,
                  ../images/retina/paws-house-main_4.webp 2x
                "
                alt="Собака грається на майданчику"
                class="paws-house-img"
                width="335"
                height="402"
              />
            </picture>
            <div class="paws-house-content">
              <p class="paws-house-text">
                Ми створили безпечний та комфортний простір. Кожна тварина
                отримує якісне харчування, своєчасну ветеринарну допомогу,
                проходить соціалізацію та гуляє на спеціально обладнаних
                майданчиках.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="paws-house-card">
            <picture class="explore__picture">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ../images/normal/paws-house-main_5.webp 1x,
                  ../images/retina/paws-house-main_5.webp 2x
                "
                type="image/webp"
                width="1312"
                height="753"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ../images/normal/paws-house-main_5.webp 1x,
                  ../images/retina/paws-house-main_5.webp 2x
                "
                type="image/webp"
                width="704"
                height="404"
              />
              <img
                loading="lazy"
                src="../images/normal/paws-house-main_5.webp"
                srcset="
                  ../images/normal/paws-house-main_5.webp 1x,
                  ../images/retina/paws-house-main_5.webp 2x
                "
                alt="Людина тримає лапу собаки"
                class="paws-house-img"
                width="335"
                height="402"
              />
            </picture>
            <div class="paws-house-content">
              <p class="paws-house-text">
                Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
                волонтером, допомогти фінансово або інформаційно. Кожен
                маленький внесок наближає нас до великої мети — світу без
                безпритульних тварин.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="paws-house-pagination">
        <div class="paws-house-pagination-dots swiper-pagination"></div>
        <div class="paws-house-pagination-wrap">
          <div
            class="paws-house-pagination-arrows happy-stories__btn swiper-button-prev"
          >
            <svg class="paws-house-svg-icon" width="24" height="24">
              <use href="../images/svg/arrow.svg"></use>
            </svg>
          </div>
          <div
            class="paws-house-pagination-arrows happy-stories__btn swiper-button-next"
          >
            <svg class="paws-house-svg-icon" width="24" height="24">
              <use href="../images/svg/arrow.svg"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
