<section class="paws-house-section" id="about">
  <div class="paws-house-container container">
    <h2 class="paws-house-title title">Чому Хатинка Лапок</h2>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="paws-house-card">
            <picture class="explore__picture">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/normal/paws-house-main.webp 1x,
                  ./images/retina/paws-house-main.webp 2x
                "
                type="image/webp"
                width="1312"
                height="753"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/normal/paws-house-main.webp 1x,
                  ./images/retina/paws-house-main.webp 2x
                "
                type="image/webp"
                width="704"
                height="404"
              />
              <img
                loading="lazy"
                src="./images/normal/paws-house-main.webp"
                srcset="
                  ./images/normal/paws-house-main.webp 1x,
                  ./images/retina/paws-house-main.webp 2x
                "
                alt="Дівчинка допомагає собаці"
                class="paws-house-img"
                width="335"
                height="402"
              />
            </picture>
            <div class="paws-house-content">
              <p class="paws-house-text">
                Все почалося у 2015 році з кількох небайдужих людей та одного
                врятованого собаки. Сьогодні ми — один з найбільших притулків у
                регіоні, але наша мета незмінна: дати другий шанс тим, кого
                зрадили.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="paws-house-card">
            <picture class="explore__picture">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/normal/paws-house-main_2.webp 1x,
                  ./images/retina/paws-house-main_2.webp 2x
                "
                type="image/webp"
                width="1312"
                height="753"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/normal/paws-house-main_2.webp 1x,
                  ./images/retina/paws-house-main_2.webp 2x
                "
                type="image/webp"
                width="704"
                height="404"
              />
              <img
                loading="lazy"
                src="./images/normal/paws-house-main_cropped.webp"
                srcset="
                  ./images/normal/paws-house-main_cropped.webp 1x,
                  ./images/retina/paws-house-main_cropped.webp 2x
                "
                alt="Дівчинка годує цуценя"
                class="paws-house-img"
                width="335"
                height="402"
              />
            </picture>
            <div class="paws-house-content">
              <p class="paws-house-text">
                Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
                безпритульних тварин. Наша мета — не просто дати прихисток, а й
                забезпечити кожному "хвостику" щасливе та повноцінне життя в
                новій родині.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="paws-house-card">
            <picture class="explore__picture">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/normal/paws-house-main_3.webp 1x,
                  ./images/retina/paws-house-main_3.webp 2x
                "
                type="image/webp"
                width="1312"
                height="753"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/normal/paws-house-main_3.webp 1x,
                  ./images/retina/paws-house-main_3.webp 2x
                "
                type="image/webp"
                width="704"
                height="404"
              />
              <img
                loading="lazy"
                src="./images/normal/paws-house-main_3.webp"
                srcset="
                  ./images/normal/paws-house-main_3.webp 1x,
                  ./images/retina/paws-house-main_3.webp 2x
                "
                alt="Волонтери притулку"
                class="paws-house-img"
                width="335"
                height="402"
              />
            </picture>
            <div class="paws-house-content">
              <p class="paws-house-text">
                "Хатинка Лапок" — це команда професійних ветеринарів, кінологів
                та десятків волонтерів, які щодня вкладають свою душу та час у
                турботу про наших підопічних. Ми працюємо 24/7, бо їхнє життя
                залежить від нас.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="paws-house-card">
            <picture class="explore__picture">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/normal/paws-house-main_4.webp 1x,
                  ./images/retina/paws-house-main_4.webp 2x
                "
                type="image/webp"
                width="1312"
                height="753"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/normal/paws-house-main_4.webp 1x,
                  ./images/retina/paws-house-main_4.webp 2x
                "
                type="image/webp"
                width="704"
                height="404"
              />
              <img
                loading="lazy"
                src="./images/normal/paws-house-main_4.webp"
                srcset="
                  ./images/normal/paws-house-main_4.webp 1x,
                  ./images/retina/paws-house-main_4.webp 2x
                "
                alt="Собака грається на майданчику"
                class="paws-house-img"
                width="335"
                height="402"
              />
            </picture>
            <div class="paws-house-content">
              <p class="paws-house-text">
                Ми створили безпечний та комфортний простір. Кожна тварина
                отримує якісне харчування, своєчасну ветеринарну допомогу,
                проходить соціалізацію та гуляє на спеціально обладнаних
                майданчиках.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="paws-house-card">
            <picture class="explore__picture">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/normal/paws-house-main_5.webp 1x,
                  ./images/retina/paws-house-main_5.webp 2x
                "
                type="image/webp"
                width="1312"
                height="753"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/normal/paws-house-main_5.webp 1x,
                  ./images/retina/paws-house-main_5.webp 2x
                "
                type="image/webp"
                width="704"
                height="404"
              />
              <img
                loading="lazy"
                src="./images/normal/paws-house-main_5.webp"
                srcset="
                  ./images/normal/paws-house-main_5.webp 1x,
                  ./images/retina/paws-house-main_5.webp 2x
                "
                alt="Людина тримає лапу собаки"
                class="paws-house-img"
                width="335"
                height="402"
              />
            </picture>
            <div class="paws-house-content">
              <p class="paws-house-text">
                Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
                волонтером, допомогти фінансово або інформаційно. Кожен
                маленький внесок наближає нас до великої мети — світу без
                безпритульних тварин.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="paws-house-pagination">
        <div class="paws-house-pagination-dots swiper-pagination"></div>
        <div class="paws-house-pagination-wrap">
          <div
            class="paws-house-pagination-arrows happy-stories__btn swiper-button-prev"
          >
            <svg
              class="paws-house-svg-icon"
              width="24"
              height="24"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.0545 8.66228H0.85175C0.607083 8.66228 0.404 8.58145 0.2425 8.41978C0.0808333 8.25812 0 8.05503 0 7.81053C0 7.56603 0.0808333 7.36295 0.2425 7.20128C0.404 7.03962 0.607083 6.95878 0.85175 6.95878H13.0545L7.55275 1.45728C7.38275 1.28728 7.29667 1.08703 7.2945 0.856535C7.29217 0.625868 7.37608 0.425117 7.54625 0.254284C7.71658 0.0827841 7.91733 -0.00196542 8.1485 3.45823e-05C8.37967 0.00203458 8.58092 0.0879512 8.75225 0.257785L15.7022 7.20778C15.7932 7.29978 15.8594 7.39545 15.9007 7.49478C15.9422 7.59428 15.963 7.69978 15.963 7.81128C15.963 7.92278 15.9422 8.02803 15.9007 8.12703C15.8594 8.2262 15.7932 8.32162 15.7022 8.41328L8.74625 15.3633C8.57042 15.5371 8.369 15.624 8.142 15.624C7.91517 15.624 7.71675 15.5366 7.54675 15.3618C7.37692 15.1916 7.292 14.9929 7.292 14.7655C7.292 14.5384 7.37692 14.3398 7.54675 14.1698L13.0545 8.66228Z"
                fill="currentColor"
              />
            </svg>
          </div>
          <div
            class="paws-house-pagination-arrows happy-stories__btn swiper-button-next"
          >
            <svg
              class="paws-house-svg-icon"
              width="24"
              height="24"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.0545 8.66228H0.85175C0.607083 8.66228 0.404 8.58145 0.2425 8.41978C0.0808333 8.25812 0 8.05503 0 7.81053C0 7.56603 0.0808333 7.36295 0.2425 7.20128C0.404 7.03962 0.607083 6.95878 0.85175 6.95878H13.0545L7.55275 1.45728C7.38275 1.28728 7.29667 1.08703 7.2945 0.856535C7.29217 0.625868 7.37608 0.425117 7.54625 0.254284C7.71658 0.0827841 7.91733 -0.00196542 8.1485 3.45823e-05C8.37967 0.00203458 8.58092 0.0879512 8.75225 0.257785L15.7022 7.20778C15.7932 7.29978 15.8594 7.39545 15.9007 7.49478C15.9422 7.59428 15.963 7.69978 15.963 7.81128C15.963 7.92278 15.9422 8.02803 15.9007 8.12703C15.8594 8.2262 15.7932 8.32162 15.7022 8.41328L8.74625 15.3633C8.57042 15.5371 8.369 15.624 8.142 15.624C7.91517 15.624 7.71675 15.5366 7.54675 15.3618C7.37692 15.1916 7.292 14.9929 7.292 14.7655C7.292 14.5384 7.37692 14.3398 7.54675 14.1698L13.0545 8.66228Z"
                fill="currentColor"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
