<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
    <button type="button" class="team__modal--close close-modal-team">
      <svg class="team__icon team__icon--close" width="25" height="25">
        <use href="./img/team-modal.svg#icon-close"></use>
      </svg>
    </button>
    <h1 class="team__title">Dream Team</h1>
    <div class="team__box">
      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Diana Muzhylivska.png"
            alt="Beresten"
          />
        </div>
        <a class="team__link" href="https://github.com/Diliri" target="_blank">
          <svg class="team__github" width="25" height="25">
            <use href="./img/team-modal.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Diana Muzhylivska</p>
        <p class="team__role">Team Lead</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Luisa Wavilova.png"
            alt="Wavilova"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/Lulu-wiszenka"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/team-modal.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Luisa Wavilova</p>
        <p class="team__role">Scrum Master</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Oleksandr Shvachko.png"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/AleksandrWeber"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/team-modal.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Oleksandr Shvachko</p>
        <p class="team__role">Member</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Artemenko Pavlo.png"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/Art-Pasha"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/team-modal.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Artemenko Pavlo</p>
        <p class="team__role">Member</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Anastasiia Syniakova.png"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/AnastasiaSyniakova"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/team-modal.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Anastasiia Syniakova</p>
        <p class="team__role">Member</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Iryna Paskevych.png"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/ipaskevych"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/team-modal.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Iryna Paskevych</p>
        <p class="team__role">Member</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Artem Osypchuk.png"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/Artemosypchuk"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/team-modal.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Artem Osypchuk</p>
        <p class="team__role">Member</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Anastasiia Lobanova.png"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/anastasiialobanovaa"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/team-modal.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Anastasiia Lobanova</p>
        <p class="team__role">Member</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Hrobov Ivan.png"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/ivAn-hrobov6019"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/team-modal.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Hrobov Ivan</p>
        <p class="team__role">Member</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Hordii Karpenko.png"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/gordeykarpenko"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/team-modal.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Hordii Karpenko</p>
        <p class="team__role">Member</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Mariia Kosheva.png"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/mariiakosheva01"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/team-modal.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Mariia Kosheva</p>
        <p class="team__role">Member</p>
      </div>
    </div>
  </div>
</div>
