<button type="button" class="team-modal-open-btn">
  Тимчасова кнопка команди
</button>

<div class="backdrop-modal">
  <div class="team__modal">
    <button class="team__modal--close close-modal-team">
      <svg class="team__icon team__icon--close" width="25" height="25">
        <use href="../img/icons.svg#icon-close"></use></use>
      </svg>
    </button>
    <h1 class="team__title">Dream Team</h1>
    <div class="team__box">

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Diana Muzhylivska.jpg"
            alt="Beresten"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/Diliri"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Diana Muzhylivska</p>
        <p class="team__role">Team Lead</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Luisa Wavilova.jpg"
            alt="Wavilova"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/Lulu-wiszenka"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Luisa Wavilova</p>
        <p class="team__role">Scrum Master</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Oleksandr Shvachko.jpg"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/AleksandrWeber"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Oleksandr Shvachko</p>
        <p class="team__role">Member</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Artemenko Pavlo.jpg"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/Art-Pasha"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Artemenko Pavlo</p>
        <p class="team__role">Member</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Anastasiia Syniakova.jpg"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/AnastasiaSyniakova"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Anastasiia Syniakova</p>
        <p class="team__role">Member</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Iryna Paskevych.jpg"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/ipaskevych"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Iryna Paskevych</p>
        <p class="team__role">Member</p>
      </div>

      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Artem Osypchuk.jpg"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/Artemosypchuk"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Artem Osypchuk</p>
        <p class="team__role">Member</p>
      </div>

      <!-- <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="./img/team-cards/Artem Osypchuk.jpg"
            alt="Shvachko"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/Artemosypchuk"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./img/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Artem Osypchuk</p>
        <p class="team__role">Member</p>
      </div> -->



    </div>
  </div>
</div>
